.trabalhe-conosco{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2em 0;
    width: 80%;
    
}

.input-padrao{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    border-color: var(--azul-escuro);
}

.input-anexo {
    width: 60px;
    height: 30px;
    background: var(--marsala);
    color: #FFFFFF;
    font-family: 'Poppins';
    border-radius: 10px;
    border-style: none;


}

.input-anexo:hover {
    width: 65px;
    height: 35px;
    background: var(--vermelho);
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 600;
    
}

.input-enviar {
    width: 100px;
    height: 30px;
    background: var(--azul);
    color: #FFFFFF;
    font-family: 'Poppins';
    border-radius: 10px;
    border-style: none;
    margin: auto;
    

}

.input-enviar:hover {
    width: 105px;
    height: 35px;
    background: var(--azul-escuro);
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 600;
    
}

.label{
    margin: 1em 0 0.5em 0;
}

.formulario__span--nome{
    color: var(--vermelho);
    font-size: 14px;
}

.formulario__span--email{
    color: var(--vermelho);
    font-size: 14px;
}

.formulario__span--telefone{
    color: var(--vermelho);
    font-size: 14px;
}

.profissão{
    margin: 1em 0;
}

.select{
    border-radius: 5px;
    border-style: none;
    background-color: var(--marsala);
    font-family: 'Poppins';
    color: #FFFFFF;
    height: 24px;
    text-align: center;
}


@media screen and (max-width: 730px){

    .trabalhe-conosco{
        width: 100%;
    }
    
    .formulario{
        display: flex;
        flex-direction: column;
        padding: 2em 0;
        width: 100%;
        
    }

    .input-anexo {
        margin: auto;
    }

    .label{
        text-align: center;
    }

    .profissão{
        text-align: center;
    }





    
}



