.trabalhe-conosco{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2em 0;
    width: 80%;
    
}

.input-padrao{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    border-color: var(--marsala);
}

.input-anexo {
    width: 60px;
    height: 30px;
    background: var(--marsala);
    color: #FFFFFF;
    font-family: 'Poppins';
    border-radius: 10px;
    border-style: none;


}

.input-anexo:hover {
    width: 65px;
    height: 35px;
    background: var(--vermelho);
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 600;
    
}

.input-enviar {
    width: 100px;
    height: 30px;
    background: var(--azul);
    color: #FFFFFF;
    font-family: 'Poppins';
    border-radius: 10px;
    border-style: none;
    margin: auto;
    

}

.input-enviar:hover {
    width: 105px;
    height: 35px;
    background: var(--azul-escuro);
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 600;
    
}




